/* Aldrich */

@font-face {
    font-family: "Aldrich";
    src: url("./Aldrich/Aldrich-Regular.ttf");
}

/* Monda */

@font-face {
    font-family: "Monda";
    src: url("./Monda/Monda-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monda";
    src: url("./Monda/Monda-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* Roboto */

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Titillium Web */

@font-face {
    font-family: "Titillium Web";
    src: url("./Titillium_Web/TitilliumWeb-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* M_PLUS_2 */

@font-face {
    font-family: "M Plus 2";
    src: url('./M_PLUS_2/MPLUS2-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "M Plus 2";
    src: url('./M_PLUS_2/static/MPLUS2-Thin.ttf');
    font-weight: thin;
    font-style: normal;
}

/* Montserrat */

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitleFont";
    src: url('./rocket_wildness/ROCKET\ WILDNESS.ttf');
}

@font-face {
    font-family: "Loves";
    src: url("./loves/LOVES.ttf");
}