body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Parte principal de la página */

.section-a {
    width: 100%;
    height: 100vh;

    position: absolute;
}

#particles-js {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/main-background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Barra de navegación de la página */

.sup-bar {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #bebebe;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 4.3em;
    justify-content: space-around;
    align-items: center;

    min-width: 256px;
}

/* Título principal de KRONOS  */
.main-title {
    padding: 0;
    margin: 0;
    font-family: "TitleFont";
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15em;

    height: 100%;

    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.main-title h1 {
    font-size: 2em;
}

.main-title h1 a {
    color: #c4c4c4;
    text-decoration: none;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.main-title h1 a:hover{
    color: #ff5328;
}

.main-title:hover{
    transform: scale(1.1);
}

/* Listado de navegación */
.nav-bar {
    width: 55%;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-li {
    position: relative;
    font-family: "Titillium Web";
    font-weight: normal;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

.nav-li:nth-child(2){
    cursor: pointer;
}

/* This is for the border-bottom hover, I took it from an indian youtuber in Youtube*/

.nav-li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff5328;
    display: block;
    margin: auto;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.nav-li:hover::after{
    width: 100%;
}

/* ---------- */

.nav-li a {
    text-decoration: none;
    color: #c4c4c4;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;

    padding-bottom: 0.5em;
}

.nav-li a:hover {
    color: #ff5328;
}

/* .ACTIVE CLASS FROM NAV BAR */

.active a{
    color: #c4c4c4;
}

.active a:hover {
    color: #ff5328;
}

.active::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ff5328;
    display: block;
    margin: auto;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

/* FINISH .ACTIVE CLASS FROM NAV BAR */

/* .ACTIVE CLASS FOR DD MENU */

.ddactive a{
    color: #ff5328;
}

/* FINISH OF .ACTIVE CLASS FOR DD MENU */


/*  Dropdown Menu  */
.dropdown-ul {
    background-color: #000000;
    position: absolute;
    display: none;
    z-index: 1;
    padding: 0;

    border-bottom: 1px solid #bebebe;

    margin-top: 0.25em;
}

.dropdown-item {
    display: block;
    padding: 0.5em 0.5em;
    /* Arriba, derecha, abajo, izquierda */
    margin: 0.5em 1em 0.3em 0.3em;
}

/* This is for the border-bottom hover, I took it from an indian youtuber in Youtube*/

.dropdown-item::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff5328;
    display: block;
    margin: auto;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.dropdown-item:hover::after{
    width: 100%;
}

/* ---------- */

.nav-li:hover .dropdown-ul{
    display: block;
}

/*  Icono de GitHub  */
.icon-github {
    font-size: 2em;
    margin: 0 1.5em 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.icon-github:hover {
    transform: scale(1.2);
}

.icon-github a {
    color:#c4c4c4;

    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.icon-github a:hover {
    color:#ff5328;
}

/*  Icono de MENU MOVIL  */
.icon-mobile-menu {
    font-size: 2em;
    margin: 0 1.5em 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;

    color: #fff;

    display: none;
}

.icon-mobile-menu:hover {
    transform: scale(1.2);
    color:#ff5328;
}

/*  POST-NAVBAR: Presentación central  */

.section-a-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 89vh;

    min-width: 256px;
}

.pres-center{
    width: 70%;
    display: block;
    margin-bottom: 4em;
}

.kronos-logo {
    text-align: center;
}

.kronos-logo img {
    width: 7em;
    cursor: pointer;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.kronos-logo img:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 51));
    transform: scale(1.1);
}

.pres-center-p {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    color: #c4c4c4;
    font-family: "Roboto";
    font-size: 1em;
    letter-spacing: 0.1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pres-center-p span {
    color: #ff5328;
    font-weight: bolder;
}

.pres-center-p blockquote {
    margin-bottom: 0;
    font-size: 0.95em;
}

.pres-center-p figcaption {
    text-align: right;
    width: 70%;
    margin-top: 0;
    margin-bottom: 0.4em;
}

/*  FINALIZA Presentación central  */


/*  BLOG styled pages  */

.section-b {
    width: 100%;
    position: absolute;
    margin-top: 4.6em;


    /* Background for the blog from https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */

    background-image: url("../img/main-background.jpg");
    background-position: top;
    background-size: cover;
}

.section-b-header {
    width: 100%;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0;

    border-bottom: 1px solid #292929;
}

#header-software{
    background-image: url("../img/temas/header-software.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#header-osint{
    background-image: url("../img/temas/header-OSINT.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

#header-ingenieria{
    background-image: url("../img/temas/header-ingenieria.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

#header-politica{
    background-image: url("../img/temas/header-politica.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

#header-acerca{
    background-image: url("../img/temas/art.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.blogs-title {
    font-family: "M Plus 2";
    font-weight: lighter;
    color: #bebebe;
    font-size: 3.2em;
    letter-spacing: 0.1em;
}

.blogs-content {
    width: 90%;
    margin-top: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* LEFT - COLUMN */

.left-column {
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    padding: 1em;
    height: fit-content;
}

.blogs-article {
    display: block;
    margin-bottom: 3em;

    padding-bottom: 2em;

    border-bottom: 1px solid #3f3f3f;
}

.blogs-article:last-child{
    border-bottom: none;
}

.blogs-article h2 {
    font-family: "Montserrat";
    text-align: left;
    font-size: 1.7em;
    margin: 0 0 0.2em 0;
    /*max-width: fit-content; No funciona Firefox */
    display: table; /* Para liminar el contenido a únicamente el texto*/
}

.blogs-article h2 a {
    color: #bb4d4d;
    text-decoration: none;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.blogs-article h2 a:hover {
    color: #c4c4c4;
}

/* This is for the border-bottom hover, I took it from an indian youtuber in Youtube*/

.blogs-article h2::after {
    content: '';
    width: 0;
    height: 2px;
    background: #bb4d4d;
    display: block;
    margin: auto;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.blogs-article h2:hover::after{
    width: 100%;
}

/* ---------- */

.blogs-article h5 {
    text-align: left;
    font-family: 'Roboto';
    font-size: 0.9em;
    margin: 0 0 0.5em 0;
    color: #c4c4c4;
}

.articles-preview{
    display: flex;
    justify-content: space-around;
}

.articles-preview img {
    width: 13em;
    height: max-content;
}

.articles-preview p {
    text-align: left;
    font-family: "Roboto";
    letter-spacing: 0.04em;
    color: #c4c4c4;
    padding: 0 0 0 1em;
    text-indent: 5%;
}

/* START OF RIGHT COLUMN */

.right-column{
    background-color: rgba(0, 0, 0, 0.7);
    width: 25%;
    height: min-content;
}

/* START OF SIGNUP MAILCHIMP*/

#mc_embed_signup {
    border-bottom: 1px solid #292929;
}

form {
    border-radius: 12px;
    padding: 1em;
    width: auto;
    font-size: 1.5em;
    position: relative;
    /* box-shadow: 0 40px 50px -50px #ff5328; */    
    text-align: left;
}

form input {
    display: block;
    width: 80%;
    border-radius: 12px;
    border: 1px solid #bb4d4d;
    height: 0.5em;
    background-color: #00000000;
    padding: 1em 1em;
    color: #fff;
    transition: 0.5s;

    margin: auto;
}

form input:focus {
    outline: none;
    box-shadow: 0px 10px 30px -20px #ff5328;
    filter: contrast(85%)
}

form label {
    color: #c4c4c4;
    font-weight: lighter;
    font-family: "Titillium Web";
    display: inline-block;
    margin-bottom: 0.5em;

    font-size: 0.8em;
}

form .subscribe {
    width: 50%;
    height: auto;
    background: #00000000;
    border: #bb4d4d 2px solid;
    border-radius: 45px;
    font-weight: lighter;
    line-height: normal;

    font-family: "Titillium Web";
    font-size: 0.8em;
    padding: 0.3em 0;

    margin: 0 auto;

}

form .subscribe:hover {
    background: #bb4d4d;
    color: #151515;
    cursor: pointer;

}

/* Mailchimp CSS */

form .mc-field-group {
    margin-bottom: 0.8em;
}

form .indicates-required {
    color: #CCCDCF;
    font-size: 0.5em;
    margin: 0 0 1em 0;
    text-align: center;

    font-family: "Roboto";
    font-size: 0.5em;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

form .indicates-required span {
    color: #ff5328;
}

form .indicates-required span a {
    color: #ff5328;
    text-decoration: none;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

form .indicates-required span a:hover {
    color: #bb4d4d;
}

form .indicates-required:hover {
    transform: scale(1.1);
}

form input + .mce_inline_error {
    display: inline-block;
    font-size: 0.5em;
    position: relative;
}

form input + .mce_inline_error:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #6B0505;
    position: absolute;
    top: -10px;
}

form #mce-success-response {
    background: green;
    padding: 25px;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    transition: 1s;
    animation: response 1s forwards;
}

form #mce-error-response {
    background: #6B0505;
    padding: 25px;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    transition: 1s;
    animation: response 1s forwards;
}
form #mce-error-response a {
    color: #fff;
}

form label .asterisk {
    color: #ff5328;
    font-size: 0.8em;
    vertical-align: middle;
}

@keyframes response {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FINALIZA SIGNUP MAILCHIMP */

/* Inicia CONTENIDO RECIENTE */

.last-posts {
    width: 100%;
    display: block;
}

.last-posts h2 {
    font-family: "Montserrat";
    color: #c4c4c4;
    text-align: center;
    font-size: 1.7em;

    margin-bottom: 0;
}

.last-posts ul {
    list-style: disc;
    color: #c4c4c4;

    padding: 0;

    display: table;
    margin: 0 auto;

    list-style: none;
    
}

.last-posts li {
    font-family: "Montserrat";
    font-size: 1.2em;

    margin: 1.5em 0.8em;

    border-bottom: 1px solid #3f3f3f;

    padding-bottom: 0.1em;


}

.last-posts li:last-child{
    border-bottom: none;
}

.last-posts li a{
    text-decoration: none;
    color: #bb4d4d;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.last-posts li a:hover{
    text-decoration: none;
    color: #c4c4c4;
}

.last-posts li span {
    color: #c4c4c4;
    font-size: 0.7em;
    font-family: "Monda";
    font-weight: lighter;
}


/* FINALIZA CONTENIDO RECIENTE */

/* INICIA FOOTER */

footer {
    background-color: #000000c6;
    background-image: linear-gradient(to bottom, #220903, #160702);
    margin-top: 1.5em;

    left: 0;
    bottom: 0;

    border-top: 1px solid #292929;


}

footer .footer-content {
    width: 70%;

    color: #c4c4c4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.footer-logo img {
    width: 2.5em;
    margin: 1em 0 1em 0;

    cursor: pointer;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.footer-logo:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 51));
    transform: scale(1.1);
}

.footer-logo h1 {
    font-size: 2em;
    font-family: "TitleFont";
    letter-spacing: 0.05em;

    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.footer-logo h1 a {
    text-decoration: none;
    color: #ff5328;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.footer-logo h1 a:hover{
    color: #c4c4c4;
}

.footer-text {
    font-family: "Montserrat";
    letter-spacing: 0.05em;
    font-size: 0.8em;

    text-align: right;
}

.footer-text p span {
    color: #ff5328;
}

.footer-text p a {
    color: #c4c4c4;
    font-size: 1.6em;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.footer-text p a:hover{
    color: #ff5328;
}

/* FINALIZA FOOTER */

/* INICIA CONTACTO */

.formulario-section-a-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 89vh;
}

.formulario-pres-center{
    width: 60%;
    display: block;
}

.kronos-logo-contacto {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.kronos-logo-contacto img {
    width: 3em;
    cursor: pointer;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.kronos-logo-contacto img:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 51));
    transform: scale(1.1);
}

.formulario {

    width: 50%;
    margin: auto;
    border-radius: 0;
    text-align: left;

}

.formulario ul {
    list-style: none;
}

.formulario ul li {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.formulario ul li label {
    font-family: "Titillium web";
    font-size: 1em;
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0;

}

.formulario ul li input {
    background-color: #ff532800;
    border: 1px solid #ff5328;
    margin: auto;
    border-radius: 50px;
    color: #c4c4c4;
    font-family: "Roboto";
    font-size: 0.6em;

}

.formulario textarea {
    display: block;
    width: 90%;
    margin: auto;
    background-color: #00000000;
    border: 1px solid #ff5328;
    border-radius: 12px;
    color: #c4c4c4;
    font-family: "Roboto";
    font-size: 0.6em;
}

.formulario textarea:focus {
    outline: none;
    box-shadow: 0px 10px 30px -20px #ff5328;
    filter: contrast(85%)}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.button button {
    font-family: "Montserrat";
    border-radius: 50px;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border: 1px solid #ff5328;

    background-color: #ff5328;
    color: #000000;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;

    cursor: pointer;
}

.button button:hover {
    background-color: #00000000;
    color: #ff5328;

    transform: scale(1.1);
}

/* FINALIZA CONTACTO */

/* INICIA ACERCA (Solo creamos la parte del texto) */

.acerca-content {
    padding: 0 1.2em;
}

.acerca-content-title {
    color: #bb4d4d;
    font-family: "M Plus 2";
    font-size: 2.5em;
    letter-spacing: 0.05em;
    text-align: center;
}

.acerca-content-text {
    color: #c4c4c4;
    font-family: "Titillium Web";
    font-size: 1.1em;
}

.acerca-content-text:nth-child(2){
    text-indent: 3%;
}

.acerca-content-text span {
    color: #bb4d4d;
}

.acerca-content-text a {
    color: #bb4d4d;
    text-decoration: none;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.acerca-content-text a:hover {
    color: #ff5328;
}

/*  ARTICLE'S BEGINNING */

.article-content {
    padding: 0 1.2em;
}

.article-content-title {
    color: #bb4d4d;
    font-family: "M Plus 2";
    font-size: 2.5em;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

.article-content-datetime {
    color: #c4c4c4;
    font-family: "Roboto";
    font-size: 1em;
    margin-top: 0;
    padding-top: 0;
}

.article-content-datetime span {
    color: #bb4d4d;
}

.article-content img {
    width: 100%;
    height: 290px;
}

.article-content-text {
    color: #c4c4c4;
    font-family: "Titillium Web";
    font-size: 1.1em;
}

.article-content-text span {
    color: #bb4d4d;
}

.article-content-text a {
    color: #bb4d4d;
    text-decoration: none;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.article-content-text a:hover {
    color: #ff5328;
    text-decoration: underline;
}

.article-content p:nth-child(4){
    text-indent: 3%;
}

.article-content-post-text{
    color: #bb4d4d;
    text-align: right;
    font-family: "Titillium Web";
    font-size: 0.9em;
}

/*  ARTICLE'S FINISHED */

/*  START NAVEGACIÓN MOVIL RESPONSIVE */

.nav-bar-mobile{
    position: absolute;
    left: 0;
    width: 38%;
    height: 100vh;

    display: flex;
    justify-content: center;

    background-color: #000000ee;
    border-right: 1px solid #bebebe;

    display: none;
    
}

.nav-bar-mobile ul{
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-bar-mobile ul li{
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.5em 0;
    text-align: center;

    font-family: "Titillium Web";
    font-size: 1.4em;
}

.nav-bar-mobile ul li a {
    text-decoration: none;
    color: #c4c4c4;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;

}

.nav-bar-mobile ul li a:hover{
    color: #ff5328;
    text-decoration: underline;
}

/*  FINISH NAVEGACIÓN MOVIL RESPONSIVE */


/*  START RESPONSIVE */

@media screen and (min-width: 855px){
    .nav-bar-mobile{
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 854px) {
    .nav-bar{
        display: none;
    }
    .icon-github{
        display: none;
    }

    .sup-bar{
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .main-title{
        float: right;
        width: 60%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .main-title:hover{
        transform: none;
    }

    .main-title h1 {
        font-size: 2.2em;
    }

    .icon-mobile-menu{
        display: block;
        float: left;
        width: 40%;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .icon-mobile-menu i{
        font-size: 1.4em;
        height: 100%;
        line-height: 1.5em;
        width: fit-content;
        padding-left: 18%;
        cursor: pointer;

        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-in-out;
    }

    .icon-mobile-menu i:hover{
        color: #ff5328;
    }

    .icon-mobile-menu:hover {
        transform: none;
        color: #fff;
    }

    .icon-mobile-menu-close {
        color: #fff;
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: right;
    }

    .icon-mobile-menu-close i{
        font-size: 1.8em;
        margin-top: 4%;
        margin-right: 7%;
        cursor: pointer;

        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-in-out;
    }

    .icon-mobile-menu-close i:hover{
        color: #ff5328;
    }

    .pres-center {
        width: 100%;
    }

    .pres-center-p{
        width: 75%;
        font-size: 1.1em;
    }

}

@media screen and (max-width: 650px) {
    .nav-bar-mobile{
        width: 50%;
    }

    .pres-center-p{
        width: 90%;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 520px) {
    .nav-bar-mobile{
        width: 60%;
    }

    .pres-center-p{
        width: 100%;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 420px) {
    .nav-bar-mobile{
        width: 70%;
    }
}

@media screen and (max-width: 352px) {
    .nav-bar-mobile{
        width: 100%;
    }

    .sup-bar{
        min-width: 256px;
    }
    .main-title{
        width: fit-content;
    }
    .icon-mobile-menu {
        width: fit-content;
    }
}


/*  FINISH RESPONSIVE */