body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Parte principal de la página */

.section-a {
    width: 100%;
    height: 100vh;

    position: absolute;
}

#particles-js {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/main-background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Barra de navegación de la página */

.sup-bar {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #bebebe;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 4.5em;
    justify-content: space-around;
    align-items: center;
}

/* Título principal de ROEK */
.main-title {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-family: "Aldrich";
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.35em;

    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.main-title h1 a {
    color: #c4c4c4;
    text-decoration: none;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.main-title h1 a:hover{
    color: #ff5328;
}

.main-title:hover{
    transform: scale(1.1);
}

/* Listado de navegación */
.nav-bar {
    width: 55%;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-li {
    position: relative;
    font-family: "Titillium Web";
    font-weight: normal;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

/* This is for the border-bottom hover, I took it from an indian youtuber in Youtube*/

.nav-li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff5328;
    display: block;
    margin: auto;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.nav-li:hover::after{
    width: 100%;
}

/* ---------- */

.nav-li a {
    text-decoration: none;
    color: #c4c4c4;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;

    padding-bottom: 0.5em;
}

.nav-li a:hover {
    color: #ff5328;
}

/*  Dropdown Menu  */
.dropdown-ul {
    background-color: #000000;
    position: absolute;
    display: none;
    z-index: 1;
    padding: 0;

    border-bottom: 1px solid #bebebe;

    margin-top: 0.25em;
}

.dropdown-item {
    display: block;
    padding: 0.5em 0.5em;
    /* Arriba, derecha, abajo, izquierda */
    margin: 0.5em 1em 0.3em 0.3em;
}

/* This is for the border-bottom hover, I took it from an indian youtuber in Youtube*/

.dropdown-item::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff5328;
    display: block;
    margin: auto;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.dropdown-item:hover::after{
    width: 100%;
}

/* ---------- */

.nav-li:hover .dropdown-ul{
    display: block;
}

/*  Icono de GitHub  */
.icon-github {
    font-size: 2em;
    margin: 0 1.5em 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.icon-github:hover {
    transform: scale(1.2);
}

.icon-github a {
    color:#c4c4c4;

    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.icon-github a:hover {
    color:#ff5328;
}

/*  POST-NAVBAR: Presentación central  */

.section-a-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 89vh;
}

.pres-center{
    width: 70%;
    display: inline-block;
    margin-bottom: 4em;
}

.kronos-logo {
    width: fit-content;
    text-align: center;
}

.kronos-logo img {
    width: 7em;
    cursor: pointer;

    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.kronos-logo img:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 51));
    transform: scale(1.1);
}

.pres-center-p {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    color: #c4c4c4;
    font-family: "Roboto";
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

.pres-center-p span {
    color: #ff5328;
    font-weight: bolder;
}

/*  BLOG styled pages  */

.section-b {
    background-color: rgba(0, 0, 255, 0.356);
    width: 100%;
    position: absolute;
    margin-top: 4.6em;
}

.section-b-header {
    width: 100%;
    height: 50vh;

    background-image: url("../img/temas/header-software.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0;
}

.blogs-title {
    font-family: "M Plus 2";
    font-weight: lighter;
    color: #bebebe;
    font-size: 3.2em;
}

.blogs-content {
    background-color: rgba(255, 0, 0, 0.527);
    width: 98%;
    margin-top: 0;
    margin: auto;
}

.left-column {
    background-color: #ff5328;
    width: 70%;
    padding: 1em;
}

.blogs-article {
    background-color: rgba(0, 100, 0, 0.507);
    display: block;
}

.blogs-article h2 {
    font-family: "Monda";
    text-align: left;
    font-size: 2em;
    margin: 0 0 0.2em 0;
}

.blogs-article h5 {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1em;
    margin: 0 0 1em 0;
}

.blogs-article img{
    width: 100%;
    height: 220px;
}